extends layout
block content
  section#intro.intro
    .intro-content
      .container
        .row
          .col-lg-6
            .wow.fadeInDown(data-wow-offset='0', data-wow-delay='0.1s')
              h2.h-ultra SuperFamilia
            .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.5s')
              h6.h-light(style='color:black;')
                | Contamos con más de 20 años de experiencia y con un personal altamente calificado para asesorarles y brindar el mejor servicio.
            .well.well-trans
              .wow.fadeInRight(data-wow-delay='0.1s')
                ul.lead-list
                  li
                    span.fa.fa-check.fa-2x.icon-success
                    span.list
                      strong Entregando lo mejor para la salud de tu familia
                      br
                  li
                    span.fa.fa-check.fa-2x.icon-success
                    span.list
                      strong Los mejores precios
                      br
                  li
                    span.fa.fa-check.fa-2x.icon-success
                    span.list
                      strong Mas de 400 sucursales a nivel nacional
                      br
                  li
                    span.fa.fa-check.fa-2x.icon-success
                    span.list
                      strong Contamos con grandes descuentos
                      br
                p.text-right.wow.bounceIn(data-wow-delay='0.4s')
                  //
                    <a href="#" class="btn btn-skin btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
          .col-lg-6
            .wow.fadeInUp(data-wow-duration='2s', data-wow-delay='0.2s')
              img.img-responsive(src='img/dummy/img-1.png', alt='')
  // /Section: intro
  // Section: boxes
  section#service.home-section.paddingtop-100
    .container
      .row
        .col-sm-3.col-md-3
          .wow.fadeInUp(data-wow-delay='0.2s')
            .box.text-center
              i.fa.fa-check.fa-3x.circled.bg-skin
              h4.h-bold Compras Online
              p
                | Te brindamos fecilidades y modalidades de pago , Contamos con alianzas estrategicas con empresas del sector financiero que garantizan transparencia y eficacia a las transacciones
        .col-sm-3.col-md-3
          .wow.fadeInUp(data-wow-delay='0.2s')
            .box.text-center
              i.fa.fa-list-alt.fa-3x.circled.bg-skin
              h4.h-bold Servicio a Domicilio
              p
                | en SuperFamilia nos gusta ofrecerte siempre un servicio eficiente , puedes llamar al numero de tu ciudad y hacer tu pedido ,lo llevaremos a la puerta de tu casa en el menor tiempo posible
        .col-sm-3.col-md-3
          .wow.fadeInUp(data-wow-delay='0.2s')
            .box.text-center
              i.fa.fa-user-md.fa-3x.circled.bg-skin
              h4.h-bold Help by specialist
              p
                | Lorem ipsum dolor sit amet, nec te mollis utroque honestatis, ut utamur molestiae vix, graecis eligendi ne.
        .col-sm-3.col-md-3
          .wow.fadeInUp(data-wow-delay='0.2s')
            .box.text-center
              i.fa.fa-hospital-o.fa-3x.circled.bg-skin
              h4.h-bold Get diagnostic report
              p
                | Lorem ipsum dolor sit amet, nec te mollis utroque honestatis, ut utamur molestiae vix, graecis eligendi ne.
  section#partner.home-section.paddingbot-60
    .container
      .row
        .col-sm-6.col-md-3
          .partner
            a(href='javascript:void(0)')
              img(src='img/dummy/partner-1.jpg', alt='')
        .col-sm-6.col-md-3
          .partner
            a(href='javascript:void(0)')
              img(src='img/dummy/partner-2.jpg', alt='')
        .col-sm-6.col-md-3
          .partner
            a(href='javascript:void(0)')
              img(src='img/dummy/partner-3.jpg', alt='')
        .col-sm-6.col-md-3
          .partner
            a(href='javascript:void(0)')
              img(src='img/dummy/partner-4.jpg', alt='')
