doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title=title
    // css
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='plugins/cubeportfolio/css/cubeportfolio.min.css')
    link(href='css/nivo-lightbox.css', rel='stylesheet')
    link(href='css/nivo-lightbox-theme/default/default.css', rel='stylesheet', type='text/css')
    link(href='css/owl.carousel.css', rel='stylesheet', media='screen')
    link(href='css/owl.theme.css', rel='stylesheet', media='screen')
    link(href='css/animate.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='css/chat.css', rel='stylesheet')
    link(href='css/estilos.css', rel='stylesheet')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    // boxed bg
    link#bodybg(href='bodybg/bg1.css', rel='stylesheet', type='text/css')
    // template skin
    link#t-colors(href='color/default.css', rel='stylesheet')
  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    #live-chat
      header.clearfix
        a.chat-close(href='#') x
        h4 Chat en vivo
      .chat
        .chat-history
          .chat-message.clearfix
            ul(id="messages")
        form.form-chat(action='', id="chatter" autocomplete='off')
          fieldset
            input(id="m" type='text', placeholder='Escribenos un mensaje…', autofocus='')
            button.btn.btn-enviar Enviar
    #wrapper
      nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
        .top-area
          .container
            .row
              .col-sm-6.col-md-6
                p.bold.text-left lunes a viernes, 8am a 10pm
              .col-sm-6.col-md-6
                p.bold.text-right Telefono  034 7731258
        .container.navigation
          .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
              i.fa.fa-bars
            a.navbar-brand(href='/')
              img(src='img/logo.png', alt='', width='150', height='40')
          // Collect the nav links, forms, and other content for toggling
          .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
              li.active
                a(href='/') Inicio
              li
                a(href='#service') Servicios
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span.badge.custom-badge.red.pull-right
                  | Productos
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Alimento y bebidas
                  li
                    a(href='#') Aseo y hogar
                  li
                    a(href='#') Maquillaje y accesorios
                  li
                    a(href='/medicamentos') Medicina formulada
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span.badge.custom-badge.red.pull-right
                  | Mi cuenta
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/signin') Iniciar sesion
                  li
                    a(href='/signup') Registrarme
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span.badge.custom-badge.red.pull-right 0
                  | Carrito
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') xxxx
                  li
                    a(href='#') xxx
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  span.badge.custom-badge.red.pull-right
                  | Usuario
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='') Cerrar sesion
          // /.navbar-collapse
        // /.container
      // Section: intro

      block content

      include footer
