extends layout
block content
  .intro-med
    div(class='row')
      div(class='col-md-6 col-md-offset-3')
        div(class='panel panel-default')
          div(class='header-form')= 'Iniciar Sesion'
          div(class='panel-body')
            form(action='' method='post' autocomplete='off')
              div(class='form-group')
                label(for="email")= 'Email'
                input(type='text' name='username' placeholder='Email' class='form-control')
              div(class='form-group')
                label(for="password")= 'Password'
                input(type='password' name='password' placeholder='Password' class='form-control')
              button.btn.btn-enviar(type="submit")= 'Iniciar Sesion'
